article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans Extrabold'),local('OpenSans-Extrabold'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}.metro *{font-family:Arial,Tahoma,sans-serif,sans;font-size:11pt;font-weight:300;color:#ffffff;}
.metro a:hover,.metro .link:hover{color:#44d1da;}
.metro a:active,.metro .link:active{color:#52ecff;}
.metro h1,.metro h2,.metro h3,.metro h4,.metro h5,.metro p{margin-bottom:10px;font-family:'Open Sans',sans-serif;}
.metro h1{color:#ffffff;font-size:42pt;font-weight:300;font-family:'Open Sans',sans-serif;}
.metro h2{font-size:20pt;font-weight:300;color:#a5a5a5;font-family:'Open Sans',sans-serif;}
.metro h3{color:#ffffff;font-size:18pt;font-weight:600;font-family:'Open Sans',sans-serif;}
.metro h4{font-size:12px;font-weight:600;color:#a5a5a5;}
.metro .navigation,.metro .item-title,.metro .item-header{color:#ffffff;font-size:12px;font-weight:300;}
.metro p,.metro .body-text{font-size:12px;font-weight:200;color:#ffffff;}
.metro .body-text-secondary{font-size:10pt;font-weight:300;color:#ffffff;}
.metro a,.metro .link{font-size:12px;font-weight:200;color:#44d1da;}
.metro .tertiary-info,.metro .tertiary-info-secondary{font-size:10pt;font-weight:12px;color:#a5a5a5;}
.metro .tertiary-info-secondary{font-size:9pt;}
.bg-color-black{background-color:#000000 !important;}
.bg-color-blue{background-color:#2d89f0 !important;}
.bg-color-blueLight{background-color:#44a3aa !important;}
.bg-color-blueDark{background-color:#045097 !important;}
.bg-color-green{background-color:#01a31c !important;}
.bg-color-greenLight{background-color:#99b433 !important;}
.bg-color-greenDark{background-color:#005200 !important;}
.bg-color-red{background-color:#bc1c48 !important;}
.bg-color-yellow{background-color:#ffc40d !important;}
.bg-color-orange{background-color:#e3a21a !important;}
.bg-color-orangeDark{background-color:#d85237 !important;}
.bg-color-pink{background-color:#c3325f !important;}
.bg-color-pinkDark{background-color:#791868 !important;}
.bg-color-purple{background-color:#603cba !important;}
.bg-color-darken{background-color:#1c1c1c !important;}
.bg-color-white{background-color:#ffffff !important;}
.place-left{float:left;}
.place-right{float:right;}
.pos-rel{position:relative;}
.pos-abs{position:absolute;}
.pos-fix{position:fixed;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.top-left{position:absolute;top:0;left:0;}
.top-right{position:absolute;top:0;right:0;}
.bottom-right{position:absolute;bottom:0;right:0;}
.bottom-left{position:absolute;bottom:0;left:0;}
.no-display{display:none;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;zoom:1;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
.metro *,.metro *:after,.metro *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.metro .layout{position:relative;}.metro .layout .commands-list{margin:0;padding:0;margin-top:30px;list-style:none;}.metro .layout .commands-list li{display:inline-block;float:left;margin-right:20px;margin-left:20px;}.metro .layout .commands-list li .command{display:block;text-align:center;float:left;cursor:pointer;text-decoration:none;}.metro .layout .commands-list li .command img{height:32px;width:32px;}
.metro .layout .commands-list li .command span{display:block;font-size:9pt;font-family:'Open Sans',sans-serif;}
.metro .layout .commands-list li.divider{width:1px;border-right:1px #c3c3c3 solid;height:48px;}
.metro .layout .commands-list.margin-10 li{margin-left:5px;margin-right:5px;}
.metro .layout .commands-list.margin-20 li{margin-left:10px;margin-right:10px;}
.metro .layout .commands-list.margin-30 li{margin-left:15px;margin-right:15px;}
.metro .layout .commands-list.margin-40 li{margin-left:20px;margin-right:20px;}
.metro .layout .commands-list.place-left{margin-left:20px;}
.metro .layout .commands-list.place-right{margin-right:20px;}
.metro .layout .header{position:fixed;top:0;left:0;right:0;display:block;vertical-align:baseline;min-height:100px;background:transparent;padding-left:120px;z-index:10000;}.metro .layout .header h1{position:relative;font-size:40pt;text-decoration:none;width:700px;}.metro .layout .header h1 b:after{position:absolute;content:"\3009";display:inline-block;margin-left:10px;font-size:10pt;top:45px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.metro .layout .header .commands-list{margin-top:50px;}
.metro .layout .header .command-back-wrapper{position:absolute;left:0;top:0;width:120px;}.metro .layout .header .command-back-wrapper a{display:block;padding:60px 45px;text-decoration:none;}.metro .layout .header .command-back-wrapper a i{display:block;border:2px #fff solid;border-radius:100%;width:32px;height:32px;position:relative;}.metro .layout .header .command-back-wrapper a i:before{content:"\2190";position:absolute;left:9px;top:7px;}
.metro .layout .content{margin-top:160px;margin-left:120px;display:block;}.metro .layout .content .frames{width:auto;}.metro .layout .content .frames .frame{display:block;float:left;margin-right:20px;width:840px;}.metro .layout .content .frames .frame.size1{width:120px;}
.metro .layout .content .frames .frame.size2{width:240px;}
.metro .layout .content .frames .frame.size3{width:360px;}
.metro .layout .content .frames .frame.size4{width:480px;}
.metro .layout .content .frames .frame.size5{width:600px;}
.metro .layout .content .frames .frame.size6{width:720px;}
.metro .layout .content .frames .frame.size7{width:840px;}
.metro .layout .content .frames .frame.size8{width:960px;}
.metro .layout .content .frames .frame.size9{width:1080px;}
.metro .layout .content .frames .frame.size10{width:1200px;}
.metro .layout .content .frames .frame.size11{width:1320px;}
.metro .layout .content .frames .frame.size12{width:1440px;}
.metro .layout .commands{position:fixed;bottom:0;left:0;right:0;display:table-cell;vertical-align:baseline;min-height:100px;display:none;z-index:10000;background:#1e1e1e;}
.metro .layout .metro-scroll{width:100%;height:100%;overflow:hidden;}.metro .layout .metro-scroll .frames{width:10000px;}
.metro .layout .metro-scroll-vertical{width:100%;height:100%;}
.metro .metro-sections{height:auto;position:relative;overflow:hidden;width:10000px;}.metro .metro-sections .metro-section{float:left;margin-right:75px;height:auto;width:960px;position:relative;}.metro .metro-sections .metro-section h2,.metro .metro-sections .metro-section .metro-section-title{color:#000;font-size:18pt;}
.metro .metro-sections .metro-section >a{text-decoration:none;}
.metro .metro-sections .metro-section >a h2{font-weight:500;font-size:22pt;}
.metro .metro-sections .metro-section >a h2 small{margin-left:10px;font-weight:normal;font-size:12pt;color:#1e1e1e;}
.metro .metro-sections .metro-section >h2 small{margin-left:10px;font-weight:normal;font-size:12pt;color:#1e1e1e;}
.metro .metro-sections .metro-section .next-section{position:absolute;top:0px;right:-40px;background:url(/img/next.png);height:24px;width:24px;}
.metro .metro-sections .metro-section .next-section.back{background:url(/img/back.png);}
.metro .metro-sections .metro-section .tile:hover{outline:5px solid;}
.metro .metro-sections .metro-section .tile.tile-active-right{-ms-transform:perspective(600px) rotatey(5deg);-o-transform:perspective(600px) rotatey(5deg);-moz-transform:perspective(600px) rotatey(5deg);-webkit-transform:perspective(600px) rotatey(5deg);transform:perspective(600px) rotatey(5deg);}
.metro .metro-sections .metro-section .tile.tile-active-left{-ms-transform:perspective(600px) rotatey(-5deg);-o-transform:perspective(600px) rotatey(-5deg);-moz-transform:perspective(600px) rotatey(-5deg);-webkit-transform:perspective(600px) rotatey(-5deg);transform:perspective(600px) rotatey(-5deg);}
.metro .metro-sections .metro-section .tile{display:block;background-color:#000000;width:150px;height:150px;color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;}.metro .metro-sections .metro-section .tile *{font-family:'Open Sans',sans-serif;}
.metro .metro-sections .metro-section .tile .tile-icon-large{margin-top:20px;margin-left:0px;display:table-cell;vertical-align:middle !important;text-align:center;width:150px;padding-top:20px;}.metro .metro-sections .metro-section .tile .tile-icon-large img{width:96px;height:96px;}
.metro .metro-sections .metro-section .tile .tile-icon-cover{margin-top:20px;margin-left:0px;display:table-cell;vertical-align:middle !important;text-align:center;width:150px;padding-top:30px;}.metro .metro-sections .metro-section .tile .tile-icon-cover img{max-width:90px;height:90px;}
.metro .metro-sections .metro-section .tile .tile-icon{position:absolute;bottom:10px;left:20px;width:32px;height:32px;}
.metro .metro-sections .metro-section .tile .tile-label{position:absolute;bottom:10px;left:20px;font-size:9pt;color:#fff;font-family:Tahoma,sans-serif,serif;}
.metro .metro-sections .metro-section .tile .tile-caption{position:absolute;top:0px;left:0px;width:130px;padding:2px 10px;border-bottom:1px #ff4500 solid;background:#fff;font-size:14px;color:#000;font-size:10px;text-align:right;}
.metro .metro-sections .metro-section .tile .tile-header{font-size:19px;color:#7ac479;text-align:left;margin:20px;}
.metro .metro-sections .metro-section .tile .tile-counter{position:absolute;right:10px;bottom:5px;font-size:12pt;font-weight:bold;}
.metro .metro-sections .metro-section .tile .tile-text{text-align:left;margin-top:10px;margin-left:20px;margin-right:20px;font-size:12px;}.metro .metro-sections .metro-section .tile .tile-text h2,.metro .metro-sections .metro-section .tile .tile-text p{color:#fff;margin:0;}
.metro .metro-sections .metro-section .tile .tile-text h2{font-family:'Open Sans',sans-serif;font-size:20pt;font-weight:200;}
.metro .metro-sections .metro-section .tile .tile-text p{font-size:10pt;line-height:18px;font-family:Tahoma,sans-serif,serif;}
.metro .metro-sections .metro-section .tile .tile-image{padding:0px;}.metro .metro-sections .metro-section .tile .tile-image img{min-height:100%;min-width:100%;}
.metro .metro-sections .metro-section .tile .tile-image-message .image{width:75px;height:75px;margin:20px 10px 20px 20px;float:left;}.metro .metro-sections .metro-section .tile .tile-image-message .image img{width:100%;height:100%;}
.metro .metro-sections .metro-section .tile .tile-image-message .message{float:left;width:60%;margin:10px 0;}.metro .metro-sections .metro-section .tile .tile-image-message .message .title{font-family:'Open Sans',sans-serif;font-size:20pt;font-weight:200;}
.metro .metro-sections .metro-section .tile .tile-image-message .message .text{font-size:10pt;line-height:16px;font-family:Tahoma,sans-serif,serif;}
.metro .metro-sections .metro-section .tile .tile-calendar-event .event-date{width:80px;height:80px;margin:20px 10px 20px 20px;float:left;padding:0;}.metro .metro-sections .metro-section .tile .tile-calendar-event .event-date .event-date-num{font-size:55pt;font-family:"Open Sans",sans-serif,sans;font-weight:100 !important;margin:0;padding:0;line-height:50px;}
.metro .metro-sections .metro-section .tile .tile-calendar-event .event-date .event-date-month{font-size:14pt;font-family:"Open Sans",sans-serif,sans;font-weight:bold;margin:10px 0;padding:0;}
.metro .metro-sections .metro-section .tile .tile-calendar-event .event-data{float:left;width:60%;margin:15px 0;}.metro .metro-sections .metro-section .tile .tile-calendar-event .event-data .title{font-family:'Open Sans',sans-serif;font-size:16pt;font-weight:200;}
.metro .metro-sections .metro-section .tile .tile-calendar-event .event-data .text{font-size:10pt;line-height:16px;font-family:Tahoma,sans-serif,serif;}
.metro .metro-sections .metro-section .tile .tile-text-data{margin:10px 20px;}.metro .metro-sections .metro-section .tile .tile-text-data .title{font-family:'Open Sans',sans-serif;font-size:16pt;font-weight:200;}
.metro .metro-sections .metro-section .tile .tile-text-data .text{font-size:10pt;line-height:16px;font-family:Tahoma,sans-serif,serif;}.metro .metro-sections .metro-section .tile .tile-text-data .text *{font-size:10pt;line-height:16px;font-family:Tahoma,sans-serif,serif;}
.metro .metro-sections .metro-section .tile .tile-image-slider{padding:0;margin:0;overflow:hidden;}.metro .metro-sections .metro-section .tile .tile-image-slider img{min-height:100%;min-width:100%;float:left;}
.metro .metro-sections .metro-section .tile .tile-icon-title{text-align:left;padding-left:20px;padding-right:20px;padding-top:20px;}.metro .metro-sections .metro-section .tile .tile-icon-title img{float:left;margin-right:20px;width:96px;height:96px;}
.metro .metro-sections .metro-section .tile .tile-icon-title span,.metro .metro-sections .metro-section .tile .tile-icon-title h2{font-size:40pt;display:block;float:left;margin-top:20px;font-weight:200;font-family:'Open Sans',sans-serif;color:#fff;}
.metro .metro-sections .metro-section .tile .tile-overlay{position:absolute;height:50px;width:100%;z-index:1000;bottom:0;left:0px;opacity:.8;}.metro .metro-sections .metro-section .tile .tile-overlay .tile-overlay-icon{position:absolute;left:10px;top:10px;}.metro .metro-sections .metro-section .tile .tile-overlay .tile-overlay-icon img{width:32px;height:32px;}
.metro .metro-sections .metro-section .tile .tile-overlay .tile-overlay-text{font-size:10pt;margin:10px 50px;line-height:14px;font-family:Tahoma,sans-serif,serif;}
.metro .metro-sections .metro-section .tile .tile-overlay .tile-overlay-counter{position:absolute;font-size:11pt;font-weight:bold;right:20px;bottom:10px;}
.metro .metro-sections .metro-section .tile .tile-content-main{height:150px;position:relative;overflow:hidden;}
.metro .metro-sections .metro-section .tile .tile-content-sub{position:relative;margin:1px;height:50px;max-height:148px;padding:2px 5px;overflow:hidden;box-shadow-bottom:inset 0px 0px 3px #fff;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-content{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;min-height:100%;overflow:hidden;}.metro .metro-sections .metro-section .tile .tile-announce .announce-content img{width:100%;height:100%;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description{position:absolute;left:0;right:0;bottom:0;height:46px;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .text{opacity:.8;background:#1e1e1e;padding:10px;font-size:8pt;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label{display:inline;position:absolute;width:auto;padding:4px 10px;top:-25px;left:0;font-weight:bold;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label .stick{width:0px;height:0px;border-top:10px solid #000;border-right:10px solid transparent !important;position:absolute;display:block;z-index:100000;top:25px;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-blue{background:#2d89f0;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-blue .stick{border-top:10px solid #2d89f0 !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-green{background:#01a31c;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-green .stick{border-top:10px solid #01a31c !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-greenDark{background:#005200;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-greenDark .stick{border-top:10px solid #005200 !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-red{background:#bc1c48;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-red .stick{border-top:10px solid #bc1c48 !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-yellow{background:#ffc40d;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-yellow .stick{border-top:10px solid #ffc40d !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-orange{background:#e3a21a;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-orange .stick{border-top:10px solid #e3a21a !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-pink{background:#c3325f;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-pink .stick{border-top:10px solid #c3325f !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-purple{background:#603cba;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-purple .stick{border-top:10px solid #603cba !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-white{background:#ffffff;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-white .stick{border-top:10px solid #ffffff !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-black{background:#000000;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-black .stick{border-top:10px solid #000000 !important;}
.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-darken{background:#1c1c1c;}.metro .metro-sections .metro-section .tile .tile-announce .announce-description .label.label-color-darken .stick{border-top:10px solid #1c1c1c !important;}
.metro .metro-sections .metro-section .tile.tile-double{width:310px;}.metro .metro-sections .metro-section .tile.tile-double .tile-icon-large{margin-top:20px;margin-left:107px;}
.metro .metro-sections .metro-section .tile.tile-double .tile-icon-cover,.metro .metro-sections .metro-section .tile.tile-double .tile-icon-large{width:310px;}
.metro .metro-sections .metro-section .tile.tile-double-vertical{height:310px;}.metro .metro-sections .metro-section .tile.tile-double-vertical .tile-icon-large{margin-top:20px;margin-left:107px;}
.metro .metro-sections .metro-section .tile.tile-double-vertical .tile-icon-cover,.metro .metro-sections .metro-section .tile.tile-double-vertical .tile-icon-large{height:310px;}
.metro .metro-sections .metro-section .tile.tile-triple-vertical{height:470px;}.metro .metro-sections .metro-section .tile.tile-triple-vertical .tile-icon-large{padding-top:187px;}
.metro .metro-sections .metro-section .tile.tile-quadro-vertical{height:630px;}.metro .metro-sections .metro-section .tile.tile-quadro-vertical .tile-icon-large{padding-top:267px;}
.metro .metro-sections .metro-section .tile.tile-triple{width:470px;}.metro .metro-sections .metro-section .tile.tile-triple .tile-icon-large{width:470px;}
.metro .metro-sections .metro-section .tile.tile-quadro{width:630px;}.metro .metro-sections .metro-section .tile.tile-quadro .tile-icon-large{width:630px;}
.metro .metro-sections .metro-section.size1{width:160px !important;}
.metro .metro-sections .metro-section.size2{width:320px !important;}
.metro .metro-sections .metro-section.size3{width:480px !important;}
.metro .metro-sections .metro-section.size4{width:640px !important;}
.metro .metro-sections .metro-section.size5{width:800px !important;}
.metro .metro-sections .metro-section.size6{width:960px !important;}
.metro .metro-replies{list-style:none;margin:0;padding:0;}.metro .metro-replies .metro-reply{width:300px;height:auto;padding:10px;font-family:'Open Sans',sans-serif;margin-bottom:10px;margin-right:10px;position:relative;display:block;}.metro .metro-replies .metro-reply .avatar{width:50px;height:50px;overflow:hidden;display:table-cell;vertical-align:middle !important;background:#6e6e6e;box-shadow-bottom:inset 0px 0px 3px #fff;}.metro .metro-replies .metro-reply .avatar img{width:100%;height:100%;display:inline-block !important;vertical-align:middle !important;}
.metro .metro-replies .metro-reply .reply{margin-left:60px;margin-top:-50px;}.metro .metro-replies .metro-reply .reply .date{float:right;font-size:55%;color:#ffffff;}
.metro .metro-replies .metro-reply .reply .author{color:#ffffff;}
.metro .metro-replies .metro-reply .reply .text{font-size:12px;color:#ffffff;}
.metro .metro-replies .metro-reply .sticker{width:0;height:0;border-top:10px solid #ffffff;position:absolute;display:block;z-index:1000;}
.metro .metro-replies .metro-reply .sticker.sticker-color-black{border-top:10px solid #000000 !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-blue{border-top:10px solid #ffffff !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-blueDark{border-top:10px solid #045097 !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-green{border-top:10px solid #01a31c !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-greenDark{border-top:10px solid #005200 !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-red{border-top:10px solid #bc1c48 !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-yellow{border-top:10px solid #ffc40d !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-orange{border-top:10px solid #e3a21a !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-pink{border-top:10px solid #c3325f !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-purple{border-top:10px solid #603cba !important;}
.metro .metro-replies .metro-reply .sticker.sticker-color-darken{border-top:10px solid #1c1c1c !important;}
.metro .metro-replies .metro-reply .sticker.sticker-left{border-left:20px solid transparent !important;left:-20px;}
.metro .metro-replies .metro-reply .sticker.sticker-right{border-right:20px solid transparent !important;right:-20px;}
.metro .metro-notices{list-style:none;margin:0;padding:0;}.metro .metro-notices .metro-notice{width:385px;height:90px;display:block;overflow:hidden;position:relative;margin-bottom:10px;}.metro .metro-notices .metro-notice .notice-header,.metro .metro-notices .metro-notice .header{position:relative;margin-top:15px;margin-right:25px;margin-left:10px;color:#fff;font-family:'Open Sans',sans-serif;font-size:13px;font-weight:bold;background:transparent;}
.metro .metro-notices .metro-notice .notice-text,.metro .metro-notices .metro-notice .text{position:relative;margin-right:45px;margin-left:10px;color:#fff;font-family:'Open Sans',sans-serif;font-size:9pt;font-weight:lighter;}
.metro .metro-notices .metro-notice .notice-icon,.metro .metro-notices .metro-notice .icon{position:absolute;right:10px;bottom:5px;}.metro .metro-notices .metro-notice .notice-icon img,.metro .metro-notices .metro-notice .icon img{width:32px;height:32px;}
.metro .metro-notices .metro-notice .notice-image,.metro .metro-notices .metro-notice .image{max-height:48px;width:48px;height:48px;margin:20px 30px 20px 20px;float:left;}.metro .metro-notices .metro-notice .notice-image img,.metro .metro-notices .metro-notice .image img{width:48px;height:48px;}
.metro .metro-notices .metro-notice .close{position:absolute;top:5px;right:10px;cursor:pointer;font-weight:bold;text-decoration:none;color:#fff !important;}
.metro .metro-notices .metro-notice .close::before{content:"\00d7";color:#fff !important;}
.metro .metro-notices .metro-notice .image-large{width:88px;height:88px;margin:1px 10px 1px 1px;overflow:hidden;float:left;}.metro .metro-notices .metro-notice .image-large img{width:88px;height:88px;}
.metro .metro-images{list-style:none;margin:0;padding:0;}.metro .metro-images .metro-image{display:block;float:left;width:190px;height:130px;overflow:hidden;border:4px transparent solid;margin:0 10px 10px 0;position:relative;cursor:pointer;}.metro .metro-images .metro-image .image{width:190px;height:130px;display:table-cell;text-align:center;vertical-align:middle;background:#6e6e6e;z-index:1;overflow:hidden;}.metro .metro-images .metro-image .image img{max-width:190px;max-height:130px;display:inline-block !important;vertical-align:middle !important;}
.metro .metro-images .metro-image:hover{border:4px #57d3d9 solid;}.metro .metro-images .metro-image:hover .overlay.floatable{-webkit-transform:translate(0, -30px);-ms-transform:translate(0, -30px);-o-transform:translate(0, -30px);-moz-transform:translate(0, -30px);transform:translate(0, -30px);-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s easet;}
.metro .metro-images .metro-image:hover .overlay.double.floatable{-webkit-transform:translate(0, -60px);-ms-transform:translate(0, -60px);-o-transform:translate(0, -60px);-moz-transform:translate(0, -60px);transform:translate(0, -60px);}
.metro .metro-images .metro-image .overlay{z-index:2;position:absolute;bottom:0;height:30px;width:100%;background:#262626;overflow:hidden;text-align:center;display:block;float:none;}.metro .metro-images .metro-image .overlay *{margin:0;padding:0;}
.metro .metro-images .metro-image .overlay .text{color:#ffffff;font-size:14px;padding-top:5px;}
.metro .metro-images .metro-image .overlay.double{height:60px;}
.metro .metro-images .metro-image .overlay.floatable{bottom:-30px;}
.metro .metro-images .metro-image .overlay.double.floatable{bottom:-60px;}
.metro .metro-images .metro-image-overlay{display:block;float:left;width:250px;height:250px;overflow:hidden;border:4px transparent solid;margin:0 10px 10px 0;position:relative;cursor:pointer;}.metro .metro-images .metro-image-overlay .image{width:250px;height:160px;display:table-cell;text-align:center;vertical-align:middle;background:#6e6e6e;z-index:1;overflow:hidden;}.metro .metro-images .metro-image-overlay .image img{max-width:250px;max-height:160px;display:inline-block !important;vertical-align:middle !important;}
.metro .metro-images .metro-image-overlay .overlay{z-index:2;position:absolute;bottom:0;height:90px;width:100%;background:#262626;overflow:hidden;text-align:center;display:block;float:none;}.metro .metro-images .metro-image-overlay .overlay *{margin:0;padding:0;}
.metro .metro-images .metro-image-overlay .overlay .text{color:#ffffff;font-size:14px;text-align:left;padding:5px 20px;}.metro .metro-images .metro-image-overlay .overlay .text small{font-size:10px;color:#909090;display:block;margin:5px 0;}
.metro .metro-images .metro-image-overlay:hover{border:4px #57d3d9 solid;}
.metro .metro-images .metro-image .image.stretch img,.metro .metro-images .metro-image-overlay .image.stretch img{width:100% !important;height:100% !important;}
.metro .metro-images .metro-image .image.stretchH img,.metro .metro-images .metro-image-overlay .image.stretchH img{height:100% !important;max-width:auto !important;}
.metro .metro-images .metro-image .image.stretchW img,.metro .metro-images .metro-image-overlay .image.stretchW img{width:100% !important;max-height:auto !important;}
.metro .metro-images .metro-image.no-hovered,.metro .metro-images .metro-image-overlay.no-hovered{border:4px transparent solid;}
.metro .metro-images .metro-image.selected,.metro .metro-images .metro-image-overlay.selected,.metro .metro-images .metro-icon-text.selected,.metro .metro-images .metro-image-text.selected{border:4px #219297 solid;}.metro .metro-images .metro-image.selected b.check,.metro .metro-images .metro-image-overlay.selected b.check,.metro .metro-images .metro-icon-text.selected b.check,.metro .metro-images .metro-image-text.selected b.check{width:0;height:0;border-top:30px solid #219297;border-left:30px solid transparent;position:absolute;display:block;right:0;}.metro .metro-images .metro-image.selected b.check:after,.metro .metro-images .metro-image-overlay.selected b.check:after,.metro .metro-images .metro-icon-text.selected b.check:after,.metro .metro-images .metro-image-text.selected b.check:after{position:absolute;content:"\2713";color:#fff;top:-35px;right:0px;}
.metro .metro-images .metro-icon-text.selected{border:0;background:#219297;}.metro .metro-images .metro-icon-text.selected b.check:after{right:5px;top:-30px;}
.metro .metro-images .metro-icon-text-header{text-decoration:none;color:#fff;margin:20px 0;text-decoration:none;font-family:'Open Sans',sans-serif;}.metro .metro-images .metro-icon-text-header *{color:#fff;text-decoration:none;}
.metro .metro-images .metro-icon-text.disabled *{color:#696969 !important;}
.metro .metro-images .metro-icon-text.disabled:hover{background:transparent;}
.metro .metro-images .metro-icon-text{display:block;width:250px;height:60px;overflow:hidden;margin:0 10px 10px 0;position:relative;cursor:pointer;background:transparent;padding-bottom:10px;}.metro .metro-images .metro-icon-text .image{margin:10px 0 10px 10px;background:#6e6e6e;border:4px #464646 solid;width:40px;height:40px;float:left;}.metro .metro-images .metro-icon-text .image img{width:100%;height:100%;}
.metro .metro-images .metro-icon-text .text{margin:15px 20px 10px 65px;}.metro .metro-images .metro-icon-text .text .title{color:#fff;font-size:90%;font-weight:bold;font-family:sans,sans-serif;}
.metro .metro-images .metro-icon-text .text .subtitle{font-size:75%;color:#ccc;font-family:sans,sans-serif;}
.metro .metro-images .metro-icon-text:hover{background:#219297;}
.metro .metro-images .metro-image-text{display:block;width:480px;height:110px;margin:0 10px 10px 0;position:relative;cursor:pointer;background:transparent;padding:10px;overflow:hidden;}.metro .metro-images .metro-image-text:hover{background:#219297;}.metro .metro-images .metro-image-text:hover *{color:#fff !important;}
.metro .metro-images .metro-image-text .image{margin:10px;width:110px;height:110px;display:table-cell;text-align:center;vertical-align:middle;background:#6e6e6e;z-index:1;overflow:hidden;}.metro .metro-images .metro-image-text .image img{max-width:110px;display:inline-block !important;vertical-align:middle !important;}
.metro .metro-images .metro-image-text .text{margin-left:120px;margin-top:-115px;}.metro .metro-images .metro-image-text .text .title{font-size:100%;font-weight:bold;color:#ffffff;font-family:sans,sans-serif;}
.metro .metro-images .metro-image-text .text .subtitle{font-size:75%;color:#7b7b7b;font-family:sans,sans-serif;}
.metro .metro-images .metro-image-text .text .description{font-size:90%;color:#ffffff;font-family:sans,sans-serif;}
.metro .metro-images .metro-image-text.selected{border:0;background:#219297;}.metro .metro-images .metro-image-text.selected *{color:#fff !important;}
.metro .metro-images .metro-image-text.selected b.check:after{right:5px;top:-40px;}
.metro .metro-button{text-decoration:none;border:2px #e2e2e2 solid;padding:5px 20px;margin:10px 10px 0 10px;color:#fff !important;background:#1d1d1d;cursor:pointer;min-width:95px !important;display:inline-block;position:relative;text-align:center;border-radius:0;font-family:'Open Sans',sans-serif;font-size:10pt;}.metro .metro-button:hover{background:#3a3a3a;}
.metro .metro-button.default:hover{background:#219297;}
.metro .metro-button:active{background:#ffffff;color:#1d1d1d !important;top:2px;left:2px;}
.metro .metro-button.disabled,.metro .metro-button:disabled,.metro .metro-command-button.disabled,.metro .metro-command-button:disabled{border-color:#777777;color:#777777 !important;cursor:default;background:#1d1d1d !important;}.metro .metro-button.disabled:hover,.metro .metro-button:disabled:hover,.metro .metro-command-button.disabled:hover,.metro .metro-command-button:disabled:hover{background:#1d1d1d;}
.metro .metro-button.disabled:active,.metro .metro-button:disabled:active,.metro .metro-command-button.disabled:active,.metro .metro-command-button:disabled:active{top:0;left:0;}
.metro input.metro-button,.metro button.metro-button{min-width:94px !important;}
.metro .metro-button.default{background:#008287;}.metro .metro-button.default:active{background:#fff;}
.metro .metro-command-button{text-decoration:none;border:2px #ffffff solid;padding:5px 20px 10px 20px;display:inline-block;min-width:240px;background:#1d1d1d;position:relative;font-family:'Open Sans',sans-serif;margin:10px 10px 0 10px;}.metro .metro-command-button .title{color:#fff;display:block;font-weight:bold;font-family:'Open Sans',sans-serif;font-size:12pt;}
.metro .metro-command-button .subtitle{color:#a1a1a1;display:block;font-size:10pt;}
.metro .metro-command-button:hover{background:#3a3a3a;}
.metro .metro-command-button:active{background:#ffffff;top:2px;left:2px;}.metro .metro-command-button:active *{color:#000;}
.metro .metro-command-button.default{background:#008287;}.metro .metro-command-button.default:active{background:#fff;}
.metro .metro-command-button.default:hover{background:#219297;}
.metro button.metro-command-button{text-align:left;min-width:240px !important;}
.metro .metro-command-button.disabled .title,.metro .metro-command-button:disabled .title,.metro .metro-command-button.disabled .subtitle,.metro .metro-command-button:disabled .subtitle{color:#3a3a3a;}
.metro .metro-command-button.disabled:active .title,.metro .metro-command-button:disabled:active .title,.metro .metro-command-button.disabled:active .subtitle,.metro .metro-command-button:disabled:active .subtitle{color:#3a3a3a;}
.metro .metro-switch{cursor:pointer;cursor:hand;position:relative;}.metro .metro-switch span{position:relative;}
.metro .metro-switch input[type=checkbox],.metro .metro-switch input[type=checkbox]+span,.metro .metro-switch input[type=checkbox]+span::before,.metro .metro-switch input[type=checkbox]+span::after{vertical-align:middle;display:inline-block;}
.metro .metro-switch input[type=checkbox]{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.metro .metro-switch input[type=checkbox]+span{font:normal 13px/14px 'Open Sans',sans-serif;}
.metro .metro-switch input[type=checkbox]+span::before{content:"";width:43px;height:16px;outline:2px #777777 solid;border:1px #1c1c1c solid;cursor:pointer;background:#6c6c6c;margin-left:2px;position:relative;margin-right:10px;z-index:100;}
.metro .metro-switch input[type=checkbox]+span::after{content:"";position:absolute;top:-1px;left:34px;width:13px;height:19px;background:#ffffff;z-index:1000;}
.metro .metro-switch input[type=checkbox]:checked+span::before{background:#008287;}
.metro .metro-switch input[type=checkbox]:not(:checked)+span::after{top:-1px;left:0px;}
.metro .metro-switch input[type=checkbox]:disabled+span::before{cursor:default !important;background:#383838;outline:2px #494949 solid;}
.metro .metro-switch input[type=checkbox]:disabled+span::after{background:#6c6c6c;}
.metro .metro-switch:hover input[type=checkbox]:not(:checked)+span::before{background:#5f5f5f;}
.metro .metro-switch:hover input[type=checkbox]+span::before{background:#219297;}
.metro .metro-switch:hover input[type=checkbox]:disabled+span::before{cursor:default;background:#383838;}
.metro .metro-form label{font-family:'Open Sans',sans-serif;}
.metro .metro-form .metro-radio,.metro .metro-form .metro-check{cursor:pointer;cursor:hand;position:relative;}.metro .metro-form .metro-radio span,.metro .metro-form .metro-check span{position:relative;}
.metro .metro-form .metro-radio input[type=radio],.metro .metro-form .metro-radio input[type=radio]+span,.metro .metro-form .metro-radio input[type=radio]+span::before,.metro .metro-form .metro-radio input[type=radio]+span::after{vertical-align:middle;display:inline-block;}
.metro .metro-form .metro-radio input[type=radio]{position:absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.metro .metro-form .metro-radio input[type=radio]+span{font:normal 13px/14px 'Open Sans',sans-serif;}
.metro .metro-form .metro-radio input[type=radio]+span::before{content:"\2022";text-indent:-9999px;width:24px;height:24px;background:#cfcfcf;margin-right:10px;border-radius:50%;}
.metro .metro-form .metro-radio input[type=radio]:checked+span::after{text-indent:-9999px;position:absolute;content:"\2022";background:#212121;z-index:1000;width:12px;height:12px;border-radius:50%;left:6px;top:6px;}
.metro .metro-form .metro-radio input[type=radio]:checked+span::before{background:#d1d1d1;}
.metro .metro-form .metro-radio input[type=radio]:not(:checked):disabled+span::before{cursor:default;background:#868686;}
.metro .metro-form .metro-radio input[type=radio]:disabled+span::before{cursor:default;background:#868686;}
.metro .metro-form .metro-radio input[type=radio]:disabled+span::after{background:#484848;}
.metro .metro-form .metro-radio:hover input[type=radio]:not(:checked):disabled+span::before{background:#868686;}
.metro .metro-form .metro-radio:hover input[type=radio]:not(:checked)+span::before{background:#ffffff;}
.metro .metro-form .metro-radio:hover input[type=radio]:checked+span::before{background:#dfdfdf;}
.metro .metro-form .metro-radio:hover input[type=radio]:checked:disabled+span::before{background:#868686;}
.metro .metro-form .metro-radio:hover input[type=radio]:checked:disabled+span::after{background:#484848;}
.metro .metro-form .metro-radio:hover input[type=radio]:checked+span::after{background:#000000;}
.metro .metro-form .metro-check input[type=checkbox],.metro .metro-form .metro-check input[type=checkbox]+span,.metro .metro-form .metro-check input[type=checkbox]+span::before,.metro .metro-form .metro-check input[type=checkbox]+span::after{vertical-align:middle;display:inline-block;}
.metro .metro-form .metro-check input[type=checkbox]{position:absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.metro .metro-form .metro-check input[type=checkbox]+span{font:normal 13px/14px 'Open Sans',sans-serif;}
.metro .metro-form .metro-check:hover input[type=checkbox]+span::before{background:#fff;}
.metro .metro-form .metro-check:hover input[type=checkbox]:checked+span::before{background:#e1e1e1;}
.metro .metro-form .metro-check input[type=checkbox]+span::before{content:"\2714";text-indent:-9999px;width:22px;height:22px;background:#d1d1d1;margin-right:10px;}
.metro .metro-form .metro-check input[type=checkbox]:checked+span::after{position:absolute;content:"\2713";color:#202020;z-index:1000;font-size:20px;font-weight:bold;font-family:Tahoma;left:3px;top:2px;}
.metro .metro-form .metro-check input[type=checkbox]:checked+span::before{background:#d1d1d1;}
.metro .metro-form .metro-check input[type=checkbox]:not(:checked):disabled+span::before{cursor:default;background:#767676;}
.metro .metro-form .metro-check input[type=checkbox]:disabled+span::before{cursor:default;background:#767676;}
.metro .metro-form .metro-check input[type=checkbox]:disabled+span::after{color:#4c4c4c;}
.metro .metro-form .metro-check:hover input[type=checkbox]:disabled+span::before{cursor:default;background:#767676;}
.metro .metro-form .metro-form-control{margin-bottom:10px;}.metro .metro-form .metro-form-control label{font-size:11pt;color:#000000}
.metro .metro-form .metro-form-control .metro-text-box{position:relative;width:100%;}.metro .metro-form .metro-form-control .metro-text-box input[type=text]{background:#d2d2d2;border:2px #d2d2d2 solid;color:#646464;border-radius:0;font-size:11pt;padding:5px 8px;width:100%;outline:0;display:inline-block;}.metro .metro-form .metro-form-control .metro-text-box input[type=text]:focus{background:#fff;border-color:#fff;color:#000;}
.metro .metro-form .metro-form-control .metro-text-box input[type=text]:disabled{background:#1d1d1d;border:2px #777777 solid;}
.metro .metro-form .metro-form-control .metro-text-box input[type=text]:not(:focus):not(:disabled):hover{background:#e2e2e2;}
.metro .metro-form .metro-form-control .metro-text-box .helper{cursor:pointer;z-index:100;}
.metro .metro-form .metro-form-control .metro-text-box input[type=text]+.helper::before{display:inline-block;position:absolute;width:16px;height:16px;background:#ccc;top:3px;right:-17px;visibility:hidden;content:"\00d7";font-size:18pt;font-weight:bold;color:#000;cursor:pointer;padding:2px 6px 9px 9px;}
.metro .metro-form .metro-form-control .metro-text-box input[type=text]:focus+.helper::before{visibility:visible;}
.metro .metro-form .metro-form-control .metro-text-box:hover input[type=text]+.helper:before{background:#dedede !important;}
.metro .metro-form .metro-form-control .metro-text-box:action input[type=text]+.helper:before{background:#000 !important;}
.metro .dropdown-container{display:block;cursor:pointer;}
.metro .dropdown-menu{position:absolute;top:0px;left:100%;z-index:11000;float:left;display:none;min-width:160px;padding:10px 0;margin:0;list-style:none;background-color:#fff;border-color:#ccc;border-color:rgba(0, 0, 0, 0.2);border-style:solid;border-width:3px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px;opacity:.9;}.metro .dropdown-menu li{padding:5px 15px;margin:0;}
.metro .dropdown-menu .divider{border-bottom:1px #ccc solid;height:1px;line-height:1px;margin-top:10px;margin-bottom:10px;padding:0;}
.metro .dropdown-menu li:hover{background:#008287;}.metro .dropdown-menu li:hover a{color:#fff;}
.metro .dropdown-menu li.divider:hover{background:transparent;}
.metro .dropdown-menu a{display:block;clear:both;font-weight:normal;line-height:20px;color:#1e1e1e;white-space:nowrap;text-decoration:none;font-family:"Open Sans",sans,sans-serif;}
.metro .dropdown-menu.open{display:block;}
.metro .card{width:76px;height:106px;border:1px #f4f4f4 solid;border-radius:0px;position:relative;float:left;display:block;margin:5px;cursor:pointer;background:#fff;font-family:Arial;}.metro .card:hover{box-shadow:1px 1px 1px #ccc;}
.metro .card .small-suit{font-size:22pt;}
.metro .card .suit{padding:0;font-size:84px;position:absolute;right:5px;bottom:-10px;}
.metro .card .small-suit:after{top:5px;left:10px;position:absolute;}
.metro .card .small-suit:before{top:28px;left:10px;position:absolute;}
.metro .card .suit:after{position:relative;}
.metro .red{color:red;}
.metro .black{color:black;}
.metro .card.two .small-suit:after{content:"2";}
.metro .card.three .small-suit:after{content:"3";}
.metro .card.four .small-suit:after{content:"4";}
.metro .card.five .small-suit:after{content:"5";}
.metro .card.six .small-suit:after{content:"6";}
.metro .card.seven .small-suit:after{content:"7";}
.metro .card.eight .small-suit:after{content:"8";}
.metro .card.nine .small-suit:after{content:"9";}
.metro .card.ten .small-suit:after{content:"10";margin-left:-7px;}
.metro .card.jack .small-suit:after{content:"J";}
.metro .card.dame .small-suit:after{content:"Q";}
.metro .card.king .small-suit:after{content:"K";}
.metro .card.ace .small-suit:after{content:"A";}
.metro .card.joker{background:#ffffff url(/img/joker.jpg) no-repeat 10px;}
.metro .card.back{background-color:#bc1c48;background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-ms-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);}
.metro .card.spades .small-suit:after{color:black;}
.metro .card.spades .small-suit:before{content:"\2660";color:black;}
.metro .card.spades .suit:after{content:"\2660";color:black;}
.metro .card.clubs .small-suit:after{color:black;}
.metro .card.clubs .small-suit:before{content:"\2663";color:black;}
.metro .card.clubs .suit:after{content:"\2663";color:black;}
.metro .card.diamonds .small-suit:after{color:red;}
.metro .card.diamonds .small-suit:before{content:"\2666";color:red;}
.metro .card.diamonds .suit:after{content:"\2666";color:red;}
.metro .card.hearts .small-suit:after{color:red;}
.metro .card.hearts .small-suit:before{content:"\2665";color:red;}
.metro .card.hearts .suit:after{content:"\2665";color:red;}
.metro.metro-theme-light{background:#fff;}.metro.metro-theme-light *{color:#1c1c1c;}
.metro.metro-theme-light a{color:#2d89f0;}
.metro.metro-theme-light h1,.metro.metro-theme-light h2,.metro.metro-theme-light h3,.metro.metro-theme-light h4,.metro.metro-theme-light h5,.metro.metro-theme-light h6{color:#1e1e1e !important;}
.metro.metro-theme-light .tile:hover{outline:3px #cfcfcf solid !important;}
.metro.metro-theme-light .tile *{color:#ffffff;}
.metro.metro-theme-light .metro-section .next-section{position:absolute;top:0px;right:-40px;background:url(/img/next-black.png);height:24px;width:24px;}
.metro.metro-theme-light .metro-section .next-section.back{background:url(/img/back-black.png);}
.metro.metro-theme-light .metro-replies .metro-reply{background:#2d89f0;}.metro.metro-theme-light .metro-replies .metro-reply *{color:#1c1c1c;}
.metro.metro-theme-light .metro-icon-text .text .title{color:#000;}
.metro.metro-theme-light .metro-icon-text .text .subtitle{color:#1c1c1c;}
.metro.metro-theme-light .metro-icon-text:hover .text *{color:#fff;}
.metro.metro-theme-light .metro-icon-text.selected .text *{color:#fff;}
.metro.metro-theme-light .metro-icon-text-header{color:#1c1c1c;}
.metro.metro-theme-light .metro-icon-text-header a{color:#1c1c1c;}
.metro.metro-theme-light .metro-image-text .text .title{color:#000;}
.metro.metro-theme-light .metro-image-text .text .subtitle{color:#1c1c1c;}
.metro.metro-theme-light .metro-image-text .text .description{color:#1c1c1c;}
.metro.metro-theme-light .metro-icon-text.selected .text .title{color:#fff;}
.metro.metro-theme-light .metro-icon-text.selected .text .subtitle{color:#fff;}
.metro.metro-theme-light .metro-icon-text-header{color:#1c1c1c;}
.metro.metro-theme-light .metro-button,.metro.metro-theme-light .metro-command-button{background:#cccccc;border-color:#cccccc;color:#1d1d1d !important;}.metro.metro-theme-light .metro-button .title,.metro.metro-theme-light .metro-command-button .title,.metro.metro-theme-light .metro-button .subtitle,.metro.metro-theme-light .metro-command-button .subtitle{color:#1d1d1d !important;}
.metro.metro-theme-light .metro-button:hover,.metro.metro-theme-light .metro-command-button:hover{background:#d8d8d8;border-color:#d8d8d8;}
.metro.metro-theme-light .metro-button.default,.metro.metro-theme-light .metro-command-button.default{background:#008287;border-color:#008287;color:#fff !important;}.metro.metro-theme-light .metro-button.default .title,.metro.metro-theme-light .metro-command-button.default .title,.metro.metro-theme-light .metro-button.default .subtitle,.metro.metro-theme-light .metro-command-button.default .subtitle{color:#fff !important;}
.metro.metro-theme-light .metro-button.default:hover,.metro.metro-theme-light .metro-command-button.default:hover{background:#219297;border-color:#219297;color:#fff !important;}
.metro.metro-theme-light .metro-button:active,.metro.metro-theme-light .metro-command-button:active{background:#000;border-color:#000;color:#fff !important;}
.metro.metro-theme-light .metro-button.disabled,.metro.metro-theme-light .metro-command-button.disabled{background:#eaeaea !important;border-color:#eaeaea !important;color:#9b9b9b !important;}.metro.metro-theme-light .metro-button.disabled .title,.metro.metro-theme-light .metro-command-button.disabled .title,.metro.metro-theme-light .metro-button.disabled .subtitle,.metro.metro-theme-light .metro-command-button.disabled .subtitle{color:#9d9d9d !important;}
.metro.metro-theme-light .metro-button:disabled,.metro.metro-theme-light .metro-command-button:disabled{background:#eaeaea !important;border-color:#eaeaea !important;color:#9b9b9b !important;}.metro.metro-theme-light .metro-button:disabled .title,.metro.metro-theme-light .metro-command-button:disabled .title,.metro.metro-theme-light .metro-button:disabled .subtitle,.metro.metro-theme-light .metro-command-button:disabled .subtitle{color:#9d9d9d !important;}
.metro.metro-theme-light .metro-command-button:active{background:#ccc;border-color:#ccc;}
.metro.metro-theme-light .metro-radio input[type=radio]+span::before{border:2px #cfcfcf solid;background:#fff;height:20px;width:20px;}
.metro.metro-theme-light .metro-radio input[type=radio]:disabled+span::before{background:#e6e6e6;}
.metro.metro-theme-light .metro-radio input[type=radio]:disabled:checked+span::after{background:#8a8a8a;}
.metro.metro-theme-light .metro-radio:hover input[type=radio]:checked+span::before{background:#ffffff;}
.metro.metro-theme-light .metro-radio:hover input[type=radio]:disabled+span::before{background:#e6e6e6;}
.metro.metro-theme-light .metro-radio:hover input[type=radio]:disabled:checked+span::after{background:#8a8a8a;}
.metro.metro-theme-light .metro-radio:hover input[type=radio]:checked+span::after{background:#212121;}
.metro.metro-theme-light .metro-check input[type=checkbox]+span::before{border:2px #cfcfcf solid;background:#fff;height:20px;width:20px;}
.metro.metro-theme-light .metro-check input[type=checkbox]:disabled+span::before{background:#e6e6e6;}
.metro.metro-theme-light .metro-check input[type=checkbox]:disabled:checked+span::after{color:#8a8a8a;}
.metro.metro-theme-light .metro-check:hover input[type=checkbox]+span::before{background:#fff;}
.metro.metro-theme-light .metro-check:hover input[type=checkbox]:disabled+span::before{background:#e6e6e6;}
.metro.metro-theme-light .metro-switch input[type=checkbox]+span::before{border-color:#fff;outline-color:#a6a6a6;}
.metro.metro-theme-light .metro-switch input[type=checkbox]:not(:checked)+span::before{background:#b5b5b5;}
.metro.metro-theme-light .metro-switch input[type=checkbox]+span::after{background:#333;}
.metro.metro-theme-light .metro-switch:hover input[type=checkbox]:checked+span::before{background:#25bbc4;}
.metro.metro-theme-light .metro-switch:hover input[type=checkbox]:not(:checked)+span::before{background:#b5b5b5;}
.metro.metro-theme-light .metro-switch input[type=checkbox]:disabled+span::before,.metro.metro-theme-light .metro-switch:hover input[type=checkbox]:disabled+span::before{background:#e0e0e0;outline-color:#cccccc;}
.metro.metro-theme-light .metro-switch input[type=checkbox]:disabled+span::after,.metro.metro-theme-light .metro-switch:hover input[type=checkbox]:disabled+span::after{background:#a6a6a6;}
.metro.metro-theme-light .card{border-color:#e1e1e1;}
.metro{background:transparent;}.metro *{color:#ffffff;}
.metro hr{color:#fff;background-color:#fff;}
.metro .metro-replies .metro-reply{background:#1c1c1c;}.metro .metro-replies .metro-reply *{color:#ffffff;}
