.border {
    border: 1px #fff solid;
}

body {
//    background: url(../img/windows8_metro_green_1920_1080.jpg);
    background: #fff;
    overflow: hidden;
}

.header {
   // background: transparent !important;
	background: url(../img/chalkboard2.png) !important;
//#1e1e1e !important;
    padding-bottom: 0px;
    h1 {
        margin-left: 10px;
    }
	.stick {
        width: 0px;
        height: 0px;
        border-top: 15px solid #1e1e1e;
        border-right: 20px solid transparent !important;
        position: absolute;
        display: block;
        z-index: 10000;
        top: 119px;
        left: 120px;
    }
    .user-login {
        float: right;
        margin: 60px 44px 0 0;
        cursor: pointer;

        .avatar {
            float: right;
            img {
                width: 40px;
                height: 40px;
            }
        }
        .name {
            float: left;
            margin: -10px 10px;
            text-align: right;

            .first-name {
                font-family: "Open Sans", sans-serif, sans;
                font-size: 18pt;
		font-color: #000;
                display: block;
                margin: 0;
            }
            .last-name {
                font-family: "Open Sans", sans-serif, sans;
                font-size: 10pt;
                display: block;
                margin: 0;
            }
        }
    }
}
